@CHARSET "UTF-8";

body{
	
	background-color: white;
	
}

#content{
	
	height: auto;
	width:auto;
	
}

#image{
	
	float: left;
	margin: 25px 10px 10px 50px;
	height: 300px;
	width: 300px;
	border: 2px solid black;
	
}

#detaildiv{
	
	float: left;
	margin: 15px 10px 10px 25px;
	height: 300px;
	width: 500px;
}

.detailH{
	
    font-size: 14px;
    color: #4d4d4d;
    text-align: left;
    margin:0px 0px 0px 5px;
    height:25px;
    line-height: 25px;
    font-family: Georgia,'Times New Roman',times,serif;
	
}

.detail{
	
    font-size: 18px;
    color: #1a1a1a;
    text-align: left;
    margin:0px 0px 0px 5px;
    height:25px;
    line-height: 25px;
    font-family: Georgia,'Times New Roman',times,serif;
	
}

#deletediv{
	
	clear: both;
	background-color: white;
	height: auto;
	
}

#deletebtn{
	
	background-color: #4d4d4d;
	color: white;
	width: 200px;
	height:30px;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

	.smalltf{
    
    	margin-top: 3px;
    	width: 100px;
    	height: 30px;
    
    }
    .normaltf{
    
    	margin-top: 3px;
    	width: 400px;
    	height: 30px;
    
    }
    

    .extendedtf{
    
    	margin-top:3px;
    	width: 400px;
    	height: 60px;
    
    }
