input[type="text"]{

    border: 1px solid #4d4d4d;
     border-radius: 5px;

}


#gallery img {
	margin: 10px;
    width: 50px;
    border: 2px solid white;
}
#gallery img.selected {
    border: 2px solid #ff0000;
}
#gallery img:hover {
    cursor: pointer;
}


 body {
    display: block;
    background-attachment: none;
    font-family: Georgia,'Times New Roman',times,serif;
    background-color: #efe3c4;
    }
    
    .heading{
    
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 5px;
    height:100px;
    width: 1325px;
    background-color: #1a1a1a;
     border-radius: 5px;
    }
    
    #title{
    
    	float: left;
    	margin-top: 20px;
    	margin-left: 80px;
    	margin-right: 150px;
        font-family: Georgia,'Times New Roman',times,serif;
    	font-size: 56px;
    	color: white;
    	z-index: 200;
    	     text-shadow: 2px 2px #bfbfbf;
    }
       
    
    .tabs{
    	
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    margin:30px 15px 10px 5px;
    height:40px;
    line-height: 40px;
    width: 150px;
    font-family: Georgia,'Times New Roman',times,serif;
    background-color: #1a1a1a;
	vertical-align: middle;
	         border-radius: 5px;
	    
    }
    
    #userdetails{
    
    	float: right;
    	margin: 30px 40px 20px 0px;
    	
    }
    
    #userdp{
    
    	margin: 20px 20px 20px 20px;
    	width: 60px;
    	height: 60px;
    	float: right;
    
    }
    
    .def{
    
    	font-size: 20px;
    	margin: 0px 0px 0px 0px;
    	color: white;
    	height: 20px;
    	
    
    }
    
    
   .defsmall{
    
    	font-size: 16px;
    	margin: 3px 0px 0px 0px;
    	color: white;
    	height: 20px;
    	text-align: center;
    
    }
    
    
    .tabContainer{
    
    	clear: both;
    		position: absolute;
    	margin: 10px 10px 10px 10px;
    	width: 1325px;
    	height: 765px;
    	background-color: white;
         border-radius: 5px;
    
    }
    
    
    .page_title{
    
    padding-top: 0px;
    font-size: 22px;
    color: white;
    text-align: center;
    height:40px;
    line-height: 40px;
    width: auto;
    font-family: Georgia,'Times New Roman',times,serif;
	vertical-align: middle;
    
    
    }
    
    .primary{
    
    float: left;
    	margin-left: 10px;
    	margin-top: 10px;
    	margin-rigth: 10px;
    	
    	background-color: #1a1a1a;
    	
    	height: 740px;
    	max-height: 735px;
    	width: 250px;
    	overflow: auto;
    	     border-radius: 5px;
    	
    
    }
    
        .secondary{
    
    float: left;
    	margin-left: 10px;
    	margin-top: 10px;
    	margin-rigth: 10px;
    	
    	background-color: #1a1a1a;
    	
    	height: 740px;
    	max-height: 735px;
    	width: 1040px;
    	overflow: auto;
    	     border-radius: 5px;
    	
    
    }
    
    
    .galleryimg{
       	
    	height: 25px;
    	width: 25px;
    	
    	margin-left: 10px;
    	margin-top: -3px;
    	
    }
    
    
   .gallerynamesel{
    
    margin-top:-7px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
       margin-bottom: -9px;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    height:auto;
    line-height: 18px;
    width: 235px;
    font-family: Georgia,'Times New Roman',times,serif;
	vertical-align: middle;
    background-color: #353535;
    }
    
    .galleryname{
    
       margin-top:-7px;
    margin-left: 15px;
        padding-top: 8px;
    padding-bottom: 8px;
       margin-bottom: -9px;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    height:auto;
    line-height: 18px;
    width: 200px;
    font-family: Georgia,'Times New Roman',times,serif;
	vertical-align: middle;
    
    }
    
    .gallerynamelink{
    	color:white;
    }
    
    .gallerydes{
    
    font-size: 12px;
    color: #e5e5e5;
    font-family: Georgia,'Times New Roman',times,serif;
	vertical-align: middle;
    	
    
    }
    
    
    .artistnamesel{
    
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -7px;
    margin-bottom: -7px;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    height:auto;
    line-height: 18px;
    width: 235px;
    font-family: Georgia,'Times New Roman',times,serif;
	vertical-align: middle;
    background-color: #605d5d;
    }
    
    .artistname{
    
    margin-left: 15px;
       padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -7px;
    margin-bottom: -7px;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    height:auto;
    line-height: 18px;
    width: 200px;
    font-family: Georgia,'Times New Roman',times,serif;
	vertical-align: middle;
    
    }
    
    .artistnamelink{
    	color:white;
    }
    
    .artistdes{
    
    font-size: 12px;
    color: #e5e5e5;
    font-family: Georgia,'Times New Roman',times,serif;
	vertical-align: middle;
    	
    
    }
    
    
    .artistdetails{
    
    margin-top: 20px 20px 20px 20px;
    padding-top: 20px;
    height: 250px;
    width: 900px;
        background-color: white;
         border-radius: 10px;
    
    
    }
    
    
    .addedit{
    
    font-size: 16px;
    color: #4d4d4d;
    text-align: center;
    height:30px;
    line-height: 30px;
    width: 150px;
    margin: 10px 55px 5px 45px;
    font-family: Georgia,'Times New Roman',times,serif;
    background-color: #ffffff;
	vertical-align: middle;
         border-radius: 5px;
    
    }
    
    .normaltf{
    
    	width: 500px;
    	height: 30px;
    
    }
    

    .extendedtf{
    
    	width: 500px;
    	height: 90px;
    
    }
    
    
	.smalltf{
    
    	margin-top: 3px;
    	width: 100px;
    	height: 30px;
    
    }
    
    
    .customform{
    
    	margin: 0px 150px 0px 150px;
    	padding: 15px 10px 10px 10px;
    	background-color: white;
    	width: auto;
    	height:auto;
    	     border-radius: 5px;
    	
    }
    
    .msg{
    
    	color: white;
    }
    
    #imageDesc{
    
    
    	height: 350px;
    	width: 900px;
    	background-color: white;
    	z-index: 20;
         border-radius: 10px;
    
    }
    
    
.detailH{
	
    font-size: 14px;
    color: #4d4d4d;
    text-align: center;
    margin:10px 0px 0px 5px;
    height:25px;
    line-height: 25px;
    font-family: Georgia,'Times New Roman',times,serif;
	
}

.detail{
	
    font-size: 18px;
    color: #1a1a1a;
    text-align: center;
    margin:10px 0px 0px 5px;
    height:25px;
    line-height: 25px;
    font-family: Georgia,'Times New Roman',times,serif;
	
}
    
    